<body>
    <div class="mx-auto" style="width: 400px;">
    <div class="main">
        
       
       <div class="blog">
            <div class="blog-head">
                
               <div class="container1">
                    <h4>地域別</h4>
                     <% @genres.each do |genre| %>
                         <%= link_to homes_genre_path(genre.id), class: "btn btn-outline-primary"  do  %>
                            <div class="item1">
                                <%= genre.name %>
                            </div>
                           <% end %>
                       <% end %>
                   
               </div>
  　　　　    
              <p><h3>投稿一覧(全<%= @items_all.count %>件)</h3></p>
                  　　　    
              
            
            </div>
            
            <hr class="hr2">
            </hr>
            
            <div class="blog-body">
                <div class="blog-body-head">
                    
                　
                </div>    
                
                <div class="container">
                    <% @items_all.each do |item| %>
                    <div class="itme">
                        <table border="1">
                            <tr>
                                <th colspan="2">
                                    <div class="table-title">
                                        <p class="post-date"><%= item.created_at.strftime('%Y/%m/%d') %></p>
                                        <h2><%= item.title %></h2>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                   <div class="table-image">
                                          <%= attachment_image_tag item, :image %>
                                   </div>
                                </td>
                            </tr>
                            <tr>
                                <th>地域</th>
                                <td><%= item.genre.name %><%= item.place %></td>
                            </tr>
                             <tr>
                                <th>お店名</th>
                                <td><%= item.shop_name %></td>
                            </tr>  
                             <tr>
                                <th>商品名</th>
                                <td><%= item.commodity %></td>
                            </tr>  
                             <tr>
                                <th>値段</th>
                                <td><%= item.price %>円</td>
                            </tr>  
                            <tr>
                                <td colspan="2"><%= item.body %></td>
                            </tr>
                            <tr>
                                <td colspan="2">コメント件数：<%= item.comments.count %>件</td>
                            </tr>
                        </table>       
                    </div>
                    <% end %>
                    <%= paginate @items_all %>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
