<body>
    <body>
    
    <div class="main">
        <div class="sidebar">
          <table border="1">
             <tr>
                  <th>プロフィール画像</th>
                  <td><%#= attachment_image_tag @user, :image, :fill, 100, 100,format: 'jpeg', fallback: "no_image"  %></td>
             </tr>
             <tr>
                   <th>名前</th>
                   <td><%#= @user.name %></td>
             </tr>
             <tr>
                  <th>自己紹介</th>
                  <td><%#= @user.body %></td>
              </tr>
              <tr>
                  <th>私のイチオシのお店</th>
                  <td><%#= @user.like %></td>
                </tr>
            </table>
            
       </div>
       
       
       <div class="blog">
            <div class="blog-head">
            
             
  　　　　   
              
            </div>
            
            <div class="blog-body">
                <div class="itme-box">
                    <% @items.each do |item| %>
                    <div class="itme">
                        <table border="1">
                            <tr>
                                <th colspan="2">
                                    <div class="table-title">
                                        <h2><%= item.title %></h2>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                   <div class="table-image">
                                       <%= link_to admin_item_path(item.id) do %>
                                          <%= attachment_image_tag item, :image %>
                                       <% end %>
                                   </div>
                                </td>
                            </tr>
                            <tr>
                                <th>地域</th>
                                <td><%= item.genre.name %><%= item.place %></td>
                            </tr>
                             <tr>
                                <th>お店名</th>
                                <td><%= item.shop_name %></td>
                            </tr>  
                             <tr>
                                <th>商品名</th>
                                <td><%= item.commodity %></td>
                            </tr>  
                             <tr>
                                <th>値段</th>
                                <td><%= item.price %>円</td>
                            </tr>  
                            <tr>
                                <td colspan="2"><%= item.body %></td>
                            </tr>
                            <tr>
                                <td colspan="2">コメント件数：<%= item.comments.count %>件</td>
                            </tr>
                        </table>       
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</body>

</body>