<body>
    <div class="main">
        <div class="sidebar">
            <div>
                <table>
                   <tr>
                       <th>プロフィール画像</th>
                       <td><%= attachment_image_tag @user, :image, :fill, 100, 100 %></td>
                    </tr>
                    <tr>
                       <th>名前</th> 
                       <td><%= @user.name %></td>
                    </tr>
                    <tr>
                       <th>自己紹介</th>
                       <td><%= @user.body %></td>
                    </tr>
                    <tr>
                       <th>私のイチオシのお店</th>
                      <td><%= @user.like %></td>
                    </tr>
                </table>
            </div>
        </div>
        <div calss="blog">
            <div class="blog-head">
                <div class ="bottan">
                   <%= link_to "記事を書く", new_user_item_path %>
                </div>
            </div>
            <div class="blog-body">
                <div class="itme-box">
                    <div class="itme">
                       <%= @item.title %>
                       <%= attachment_image_tag @item, :image, :fill, 100, 100 %>
                       <%= @item.shop_name %>
                       <%= @item.place %>
                       <%= @item.commodity %>
                       <%= @item.price %>
                       <%= @item.body %>
                       <p><% if @item.user == current_user %>
                       <%= link_to "投稿内容変更", edit_user_item_path(@item.id) %>
                       <% end %></p>
                       <p>コメント件数：<%= @item.comments.count %></p>
                       <% @item.comments.each do |comment| %>
                       <p>
                       　<%= comment.user.name %>
                      　 <%= comment.created_at.strftime('%Y/%m/%d') %>
                      　 <div>
                      　     <%= simple_format(comment.name) %>
                      　 </div>
                       </p>
                         <div>
                            <%= link_to "削除", user_item_comment_path(comment.item,comment), method: :delete %>
                         </div>
                         <% end %>
                       
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
