<body>
    <div class="main">
       <div class="sidebar">
            <div>
               
            </div>
        </div>

        <div class="blog">
            <div class="blog-head">
                
            </div>
            <div class="blog-body">
               <div class="itme-box">
                    <div class="itme">
                        <table>
                            <thead>
                              <th>ユーザー画像</th>
                              <th>名前</th>
                              <th>自己紹介</th>
                              <th>イチオシのお店</th>
                              <th></th>
                           </thead>
                            <% @users.each do |user|%>
                            <tbody>
                               <td><%= attachment_image_tag user, :image, :fill, 100, 100 %></td>
                               <td><%= user.name %></td>
                               <td><%= user.body %></td>
                               <td><%= user.like %></td>
                               <td><%= link_to "詳しく見る", admin_customer_path(user.id) %></td>
                            </tbody>
                           <% end %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>