<body>
    <div class="main">
       <div class="sidebar">
           <div>
                <h3><%= @user.name %>さんプロフィール</h3>
                <table border="1">
                    <tr>
                      <th>プロフィール画像</th>
                      <td><%= attachment_image_tag @user, :image, :fill, 120, 150 %></td>
                    </tr>
                    <tr>
                       <th>名前</th>
                       <td><%= @user.name %></td>
                    </tr>
                    <tr>
                       <th>自己紹介</th>
                       <td><%= @user.body %></td>
                    </tr>
                    <tr>
                      <th>私のイチオシのお店</th>
                      <td><%= @user.like %></td>
                    </tr>
                </table>
            </div>
            
            <p><%= @user.name %>さんの<%= link_to "お気に入りした投稿",  favorites_admin_customer_path(@user) %></p>
            
            <p><%= @user.name %>さんの<%= link_to "コメントした投稿",  comments_admin_customer_path(@user) %></p>
        </div>
        
        
        <div class="blog">
            <div class="blog-head">
                 <h3><%= @user.name %>さんの投稿一覧(全<%= @items.count %>件)</h3>
            </div>
            
            <hr class="hr2">
            </hr>
            
            <blog-body>
               <div class="itme-box">
                   <% @items.each do |item|%>
                   <div class="itme">
                        <table border="1">
                            <tr>
                                <th colspan="2"><h2><%= item.title %></h2></th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                   <%= link_to admin_item_path(item.id) do %>
                                      <%= attachment_image_tag item, :image %>
                                   <% end %>
                                </td>
                            </tr>
                            <tr>
                                <th>地域</th>
                                <td><%= item.genre.name %><%= item.place %></td>
                            </tr>
                             <tr>
                                <th>お店名</th>
                                <td><%= item.shop_name %></td>
                            </tr>  
                             <tr>
                                <th>商品名</th>
                                <td><%= item.commodity %></td>
                            </tr>  
                             <tr>
                                <th>値段</th>
                                <td><%= item.price %>円</td>
                            </tr>  
                            <tr>
                                <td colspan="2"><%= item.body %></td>
                            </tr>
                            <tr>
                                <td colspan="2">コメント件数：<%= item.comments.count %>件</td>
                            </tr>
                        </table>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</body>