<div class="mx-auto" style="width: 400px;">
    <p><h2>プロフィール更新画面</h2></p>
    
      
  <%= form_with model: @user, url: user_customer_path, local: true do |f| %>  
  <div>
   <%= f.label :プロフィール画像 %>
   <%= attachment_image_tag @user, :image, :fil, 100,  100 %>
   <labe for="inputImage"></labe>
   <%= f.attachment_field :image, placeholder: "選択されていません" %>
  </div>      
    
　<div class="field">
    <%= f.label :自己紹介 %><br />
    <%= f.text_area :body, autofocus: true, autocomplete: "body" %>
  </div>
  
  <div class="field">
    <%= f.label :私のイチオシのお店 %><br />
    <%= f.text_field :like, autofocus: true, autocomplete: "like" %>
  </div>
  
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <p>
  <div class="action">
    <%= f.submit "プロフィール更新" %>
  </div>
  </p>
  <% end %>
  
  </div>
