<body>
    
    <div class="main">
        <div class="sidebar">
          <table border="1">
             <tr>
                  <th>プロフィール画像</th>
                  <td><%= attachment_image_tag @user, :image, :fill, 100, 100 %></td>
             </tr>
             <tr>
                   <th>名前</th>
                   <td><%= @user.name %></td>
             </tr>
             <tr>
                  <th>自己紹介</th>
                  <td><%= @user.body %></td>
              </tr>
              <tr>
                  <th>私のイチオシのお店</th>
                  <td><%= @user.like %></td>
                </tr>
            </table>
            
            <p><%=link_to"お気に入り記事",favorites_user_path(@user) %></p>
       </div>
       
       
       <div class="blog">
            <div class="blog-head">
                
              <% @genres.each do |genre| %>
              <div>
                  <%= link_to user_genre_path(genre) do %>
             　　     <%= genre.name %>
             　 　<% end %> 
              </div>
  　　　　　　　　　<% end %>
  　　　　　　
              <div class ="bottan">
                  <%= link_to "記事を書く", new_user_item_path %>
              </div>
            </div>
            
            <div class="blog-body">
                <div class="itme-box">
                    いいね一覧
                    <% @favorite_items.each do |item|%>
                    <div class="itme">
                        <table border="1">
                            <tr>
                                <div class="item-title">
                                   <%= item.title %>
                                </div>
                            </tr>
                            <tr>
                                <div class ="item-image">
                                   <%= link_to user_item_path(item.id) do %>
                                      <%= attachment_image_tag item, :image, :fill, 100, 100 %>
                                   <% end %>
                                </div>
                            </tr>
                            <tr>
                               <div calss="item-name">
                                   <%= item.shop_name %>
                                   <%= item.place %>
                                   <%= item.commodity %>
                                   <%= item.price %>円
                               </div>
                            </tr>
                            <tr>
                                <div calss="item-body">
                                   <%= item.body %>
                                </div>
                                <div>
                                     <p>コメント件数：<%= item.comments.count %></p>
                                </div>
                            </tr>
                        </table>       
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</body>
