<body>
    <div class="main">
       <div class="sidebar">
           <div>
               <table border="1">
                   <tr>
                      <th>プロフィール画像</th>
                      <td><%= attachment_image_tag @my_user, :image, :fill, 120, 150 %></td>
                    </tr>
                    <tr>
                      <th>名前</th>
                      <td><%= @my_user.name %></td>
                    </tr>
                    <tr>
                      <th>自己紹介</th>
                      <td><%= @my_user.body %></td>
                    </tr>
                    <tr>
                      <th>私のイチオシのお店</th>
                      <td><%= @my_user.like %></td>
                    </tr>
                </table>
                
                 <p><%= link_to "お気に入りした投稿",  favorites_user_customer_path(@my_user) %></p>
            
                 <p><%= link_to "コメントした投稿",  comments_user_customer_path(@my_user) %></p>
                
            </div>
        </div>

        <div class="blog">
            <div class="blog-head">
                <div class ="bottan">
                  <%= link_to "記事を書く", new_user_item_path %>
                </div>
            </div>
            
            <hr class="hr2">
            </hr>
            
            <div class="blog-body">
               <div class="itme-box">
                    <div class="itme">
                        <table border="1">
                            <thead>
                              <th>ユーザー画像</th>
                              <th>名前</th>
                              <th>自己紹介</th>
                              <th>イチオシのお店</th>
                              <th></th>
                           </thead>
                            <% @users.each do |user|%>
                            <tbody>
                               <td><%= attachment_image_tag user, :image, :fill, 100, 100 %></td>
                               <td><%= user.name %></td>
                               <td><%= user.body %></td>
                               <td><%= user.like %></td>
                               <td><%= link_to "詳しく見る", user_customer_path(user.id) %></td>
                            </tbody>
                           <% end %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>