
<main>
<sidebar>
    <div>
      <table>
       <tr>
           <th>プロフィール画像</th>
           <td><%= attachment_image_tag @user, :image, :fill, 100, 100 %></td>
       </tr>
       <tr>
           <th>名前</th>
           <td><%= @user.name %></td>
       </tr>
       <tr>
           <th>自己紹介</th>
           <td><%= @user.body %></td>
       </tr>
       <tr>
           <th>私のイチオシのお店</th>
           <td><%= @user.like %></td>
       </tr>
   </table>
  </div>
</sidebar>

<blog>
    <blog-head>
        <div>
            <%= @genre.name %>一覧
        </div>
  
        <div class ="bottan">
             <%= link_to "記事を書く", new_user_item_path %>
        </div>
        
    </blog-head>
    <blog-body>
        <div class="itme-box">
            <% @items.each do |item| %>
            <div class="itme">
                <%= item.title %>
                 <%= link_to user_item_path(item.id) do %>
                <%= attachment_image_tag item, :image, :fill, 100, 100 %>
                <% end %>
                <%= item.shop_name %>
                <%= item.place %>
                <%= item.commodity %>
                <%= item.genre.name%>
                <%= item.price %>
                <%= item.body %>
            </div>
            <% end %>
        </div>
    </blog-body>
</blog>
</main>
