<!DOCTYPE html>
<html>
  <head>
    <title>RamenOutgoing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
     <a class="navbar-brand" href="#">RamenOutgoing</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav4">
          <ul class="navbar-nav">
              
              <% if user_signed_in? %>
               <li class="nav-item">
                  <%= link_to "マイページ", mypage_user_customers_path, class: "btn btn-outline-success" %>
               </li>
               <li class="nav-item">
                   <%= link_to "投稿一覧", user_items_path, class: "btn btn-outline-success" %>
               </li>
               <li class="nav-item">
                  <%= link_to "投稿者一覧", user_customers_path, class: "btn btn-outline-success" %>
               </li>
               <li class="nav-item">
                   <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-success" %>
               </li>
              <% elsif admin_signed_in? %>
              
               <li class="nav-item">
                    <%= link_to "投稿一覧", admin_items_path, class: "btn btn-outline-success" %>
               </li>
               <li class="nav-item">
                     <%= link_to "投稿者一覧", admin_customers_path, class: "btn btn-outline-success" %>
               </li>
               <li class="nav-item">
                      <%= link_to "投稿者一覧", admin_genres_path, class: "btn btn-outline-success" %>
               </li>
               <li class="nav-item">
                   <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete,  class: "btn btn-outline-success" %>
               </li>
              <% else %>
              <li class="nav-item active">
                  <%= link_to "HOME", root_path, class: "btn btn-outline-success"  %>
              </li>
              <li class="nav-item active">
                   <%= link_to "ABOUT", about_path, class: "btn btn-outline-success"  %>
              </li>
              <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-success"  %>
              </li>
              <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-success"  %>
              </li>
              <% end %>
         </ul>
      </div>
　　</nav>
    
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    
  </footer>
</html>
